@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
    margin: 0;
}
body{
 font-family: 'Nunito sans', sans-serif;
}

.navbar-container{
    display: flex;
    padding: 30px 40px;
    box-shadow: 0px 4px 6px 0px grey;
    justify-content: space-between;
    align-items: center;
}

.logo{
   width: 233px;
   height: 71px;
   
}

.small-icon{
  width: 18px;
  height: 18px;

}

.navbar-links > a{
    padding-right: 50px;
    text-decoration: none;
    color: black;
}

.main-name-container{
    text-align: left;
    padding: 100px 40px;
    width: 40%;
}

.main-name-container > h1{
    font-weight: 600;
    font-size: 96px;
    line-height: 100px;
    padding: 30px 0px ;
}

.main-container{
    display: flex;
    justify-content: space-between;
    padding: 200px 40px;
}

.sub-main-container{
    /*  */
    width: 50%;
    
}

  .absolute{
    position: absolute;
    right: 100px;
    top: 650px;
    
  }
.sub-main-container > h2{
    font-size: 40px;
    line-height: 32px;
    font-weight: 700px;
}

.sub-main-container > p{
    padding: 30px 0;
}

.footer-container{
    background-color:#EFEFF0;
    text-align: center;
    padding: 40px 100px;
    margin-top: 100px;
    
}

.main-image{
    padding: 40px 0;
}
.pic-two{
    padding: 0 80px;
}
.footer-container > p{
  width: 50%;
  margin: auto;
  
}

.social-media{
    padding: 30px 0;
    
}
